body * {
	font-size: 17px;
	font-family: 'Patrick Hand', cursive;
	color: #191970;
}
h1{
	font-size: 30px;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 23px;
}
#headline{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 150px;
}
#headline h1{
	height: 200px;
	width: 350px;
	background-image: url('../images/page/logo.png');
	background-size: 300px auto;
	background-repeat: no-repeat;
    text-indent: -9999px;
    white-space: nowrap;
    position: absolute;
    top: -55px;
    left: 35px;
}
#headerPanel{
	position: absolute;
	top: 110px;
	height: 35px;
	width: 100%;
	border-bottom: 1px solid #191970;
}
#headerPanel{
	margin-right: 150px;
	display: inline-block;
	float: left;
	text-align: center;
	width: 100%;
}
#headerPanel a{
	margin: 0px 10px;
	cursor: pointer;
	display: inline-block;
}
#content{
	margin: 150px 95px 0px 145px;
}
#navigation{
	position: absolute;
	top: 150px;
	left: 0px;
	width: 135px;
}
#navigation a{
	display: block;
	padding: 1px 2px 1px 6px;
	cursor: pointer;
	width: 100%;
}
#navigation a:nth-child(even){
	background-color: rgba(25,25,112, 0.1);
}
#footer{
	position: absolute;
	width: 100%;
	left: 0px;
	margin-top: 150px;
	padding: 35px 0px 55px 0px;
	border-top: 1px solid #191970;
}